html, body { height: 100%; margin: 0px; padding: 0px; position: relative }

.leaflet-control-attribution {
  display: none;
}

.load-screen {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.loaded {
  width: 100%;
  height: 100%;
  visibility: hidden;
}

.wrapper {
  box-sizing: border-box;
}

.map {
  width: 100%;
  height: 100%;
  display: flex;
}

.tiles {
  position: absolute;
  top: 80px;
  right: 12px;
  z-index: 999;
}

.search {
  position: absolute;
  top: 10px;
  right: 12px;
  z-index: 999;
}

.mdl-menu__container {
  top: 80px;
  right: 80px;
}

.mdl-spinner {
  width: 60px;
  height: 60px;
}

.mdl-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  max-width: 100%;
  max-height: 100%;
}
.dialog-content {
  padding: 1em;
}

.mdl-textfield {
  width: 100%;
}

#searh-form {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: #fff;
  z-index: 1;
}

.mdl-list {
  margin-top: 34px;
}

li {
  list-style-type: none;
}

.material-symbols-outlined {
  margin-top: 3px;
}

.mdl-list__item {
  gap: 8px;
  padding: 16px 0 8px 0 ;
}

.search-input {
  padding-left: 8px;
  padding-right: 8px;
}

.search-label {
  padding-left: 8px;
}
